<h2>INSIDE OF TAGBOX!</h2>

<p>The config is: {{config}}</p>

<div class="container keywordSelect">
   <div class="row">
      <div class="col-sm-11">
         <strong>Selected Tags (maxiumum 10):</strong>
         <div class="well well-lg tagWell">
            <span ng-repeat="tag in keywords" class="tag label label-info selectedList">{{tag}}&nbsp
               <span ng-click="removeTag(tag)">&nbsp x</span>
            </span>
         </div>
      </div>
   </div>

	<div ng-repeat="keyword in data track by $index" class="">
	  <div>
	     <label class="needsclick">
	        <input type="checkbox" ng-click="toggleSelection(keyword)" ng-checked="keywords.indexOf(keyword) > -1" />
	        <span class="fa fa-check"></span>{{keyword}}</label>
	  </div>
	</div>
</div>


<!-- &gt is the > symbol. -->

<!--  

RE-POPULATE FEATURE
ng-checked="orgInfo.keywords.indexOf(keyword) &gt; -1"

This was used to keep a box checked off when an NGO came back to their page and the array that the checkboxes are tied to has values that match what the input fields ask for....


DISABLE FEATURE
ng-disabled="orgInfo.keywords.length &gt;= 10" class="needsclick"

Cannot allow user to click any more boxes if 10 are clicked

 -->

